Application/EdFi.Ods.Extensions.IDOE/Versions/1.0.0/Standard/4.0.0/Artifacts/Schemas/EXTENSION-Ed-Fi-Extended-Core.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://ed-fi.org/4.0.0" xmlns:ann="http://ed-fi.org/annotation" targetNamespace="http://ed-fi.org/4.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="Ed-Fi-Core.xsd" />
  <xs:annotation>
    <xs:documentation>===== Ed-Fi 4.0.0 Extensions =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== Domain Entities =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AssessmentAccommodation">
    <xs:annotation>
      <xs:documentation>This entity represents the variations used in how an assessment is presented or taken.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="AssessmentReference" type="AssessmentReferenceType">
            <xs:annotation>
              <xs:documentation>The assessment for which the accommodations are available.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcademicSubject" type="AcademicSubjectDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>This descriptor holds the description of the content or subject area (e.g., arts, mathematics, reading, stenography, or a foreign language).</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>AcademicSubjectDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Accommodation" type="AccommodationDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>This descriptor defines variations used in how an assessment is presented or taken.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>AccommodationDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-CalendarDateExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="CalendarDate">
        <xs:sequence>
          <xs:element name="EventMinutes" type="EXTENSION-EventMinutes" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The amount of time for the event in minutes as recognized by the school.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EventDuration" type="EventDuration" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The amount of time for the event as recognized by the school: 1 day = 1, 1/2 day = 0.5, 1/3 day = 0.33.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-CalendarExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="Calendar">
        <xs:sequence>
          <xs:element name="InstructionalTimeInMinutesIndicator" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Indicator of whether or not a school is calculating instructional time in minutes instead of days.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DisciplineActionExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DisciplineAction">
        <xs:sequence>
          <xs:element name="InterimAlternativeEducationSetting" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicator to denote if the special education student was referred to an interim alternative education setting.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="DisciplineActionService" type="EXTENSION-DisciplineActionServiceDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The services provided for the student during a discipline action.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-DisciplineActionServiceDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudentArrest" type="EXTENSION-StudentArrestDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The arrest type for a discipline action.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-StudentArrestDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ArrestReason" type="EXTENSION-ArrestReasonDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The arrest reason codes for a discipline action.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ArrestReasonDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationOtherPersonnel">
    <xs:annotation>
      <xs:documentation>Noncertified and other personnel employed by the School Corporation, organized by category (e.g., Office, Clerical, Cafeteria, Maintenance).</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="LocalEducationAgencyReference" type="LocalEducationAgencyReferenceType">
            <xs:annotation>
              <xs:documentation>Reference to the LEA that employees the personnel.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherPersonnelCategory" type="EXTENSION-OtherPersonnelCategoryDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Category for noncertified and other personnel.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-OtherPersonnelCategoryDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherPersonnelTitle" type="EXTENSION-OtherPersonnelTitleDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>Position title for noncertified and other personnel.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-OtherPersonnelTitleDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="OtherPersonnelCount" type="EXTENSION-OtherPersonnelCount" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Total number of noncertified and other personnel employed by the school corporation by position title.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FullTimeEquivalency" type="FullTimeEquivalency" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The ratio between the hours of work expected in a position and the hours of work normally expected in a full-time position in the same setting.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-SchoolExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="School">
        <xs:sequence>
          <xs:element name="ChoiceIndicator" type="xs:boolean" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Indicator of whether or not the school is a Choice School.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Accreditation" type="EXTENSION-AccreditationDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>School accreditation (e.g. Accreditted, Not State Accreditted, Recognized Program).</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-AccreditationDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="FreewayBeginDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Freeway accreditation begin date.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FreewayEndDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Freeway accreditation end date.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAssessmentAccommodation">
    <xs:annotation>
      <xs:documentation>This entity represents the variations used in how an assessment is presented or taken.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Domain Entity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ComplexObjectType">
        <xs:sequence>
          <xs:element name="StudentReference" type="StudentReferenceType">
            <xs:annotation>
              <xs:documentation>A unique alphanumeric code assigned to a student.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
            <xs:annotation>
              <xs:documentation>The identifier assigned to an education organization.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AssessmentReference" type="AssessmentReferenceType">
            <xs:annotation>
              <xs:documentation>The assessment for which the accommodations are available.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AcademicSubject" type="AcademicSubjectDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>This descriptor holds the description of the content or subject area (e.g., arts, mathematics, reading, stenography, or a foreign language).</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>AcademicSubjectDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="Accommodation" type="AccommodationDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>This descriptor defines variations used in how an assessment is presented or taken.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>AccommodationDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Descriptors =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AccreditationDescriptor">
    <xs:annotation>
      <xs:documentation>School accreditation (e.g. Accreditted, Not State Accreditted, Recognized Program).</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ADMCodeDescriptor">
    <xs:annotation>
      <xs:documentation>Student is enrolled and attending this reported school as a Resident Enrollment,Transfers Out, Cash Transfers, State Obligations, Placements In, or Dual Enrollment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AlternativeEducationEligibilityReasonDescriptor">
    <xs:annotation>
      <xs:documentation>The primary reason for eligibiliy in the alternative education program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ArrestReasonDescriptor">
    <xs:annotation>
      <xs:documentation>The arrest reason codes for a discipline action.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-CircumstancesRelevantToTimelineDescriptor">
    <xs:annotation>
      <xs:documentation>The circumstance relevant to the evaluation timeline.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-CriminalGangRelatedEventDescriptor">
    <xs:annotation>
      <xs:documentation>The criminal gang related participation of a student in a discipline incident.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-DisciplineActionServiceDescriptor">
    <xs:annotation>
      <xs:documentation>The services provided for the student during a discipline action.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ELLInstrumentUsedDescriptor">
    <xs:annotation>
      <xs:documentation>The instrument used to measure the English proficiency level.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-OtherPersonnelCategoryDescriptor">
    <xs:annotation>
      <xs:documentation>Category for noncertified and other personnel.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-OtherPersonnelTitleDescriptor">
    <xs:annotation>
      <xs:documentation>Position title for noncertified and other personnel.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-ProgramMeetingTimeDescriptor">
    <xs:annotation>
      <xs:documentation>The time of day the student attends the program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentArrestDescriptor">
    <xs:annotation>
      <xs:documentation>The arrest type for a discipline action.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-TimelineComplianceDescriptor">
    <xs:annotation>
      <xs:documentation>Reason the special education deadline was missed or services did not begin.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Descriptor</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="DescriptorType" />
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Associations =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-StaffEducationOrganizationEmploymentAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StaffEducationOrganizationEmploymentAssociation">
        <xs:sequence>
          <xs:element name="Contract" type="EXTENSION-Contract" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Contract information for the staff member with the education organization (e.g. Contract Days, Contract Salary).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="YearsOfPriorProfessionalExperience" type="NumberOfYears" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The total number of years that an individual has previously held a similar professional position in one or more education institutions.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentAlternativeEducationProgramAssociation">
    <xs:annotation>
      <xs:documentation>Additional information on a student enrolled in an Alternative Education Program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="GeneralStudentProgramAssociation">
        <xs:sequence>
          <xs:element name="AlternativeEducationEligibilityReason" type="EXTENSION-AlternativeEducationEligibilityReasonDescriptorReferenceType">
            <xs:annotation>
              <xs:documentation>The primary reason for eligibiliy in the alternative education program.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-AlternativeEducationEligibilityReasonDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ProgramMeetingTime" type="EXTENSION-ProgramMeetingTimeDescriptorReferenceType" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>The time of day the student attends the alternative education program.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ProgramMeetingTimeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentCurricularMaterialProgramAssociation">
    <xs:annotation>
      <xs:documentation>Additional information on a student enrolled in an Curricular Material Program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="GeneralStudentProgramAssociation">
        <xs:sequence>
          <xs:element name="LivesWithParentReference" type="ParentReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The Parent Unique Identifier that the student is living with for Curricular Material Reimbursement program types.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StudentDoesNotLiveWithParent" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Flag to indicate that student does not live with parent.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentDisciplineIncidentBehaviorAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentDisciplineIncidentBehaviorAssociation">
        <xs:sequence>
          <xs:element name="CriminalGangRelatedEvent" type="EXTENSION-CriminalGangRelatedEventDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The criminal gang related participation of a student in a discipline incident.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-CriminalGangRelatedEventDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentEducationOrganizationAssociation">
        <xs:sequence>
          <xs:element name="ELLInstrumentUsed" type="EXTENSION-ELLInstrumentUsedDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The instrument used to measure the English proficiency level.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ELLInstrumentUsedDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="USInitialSchoolEntry" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>US initial school entry date</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationResponsibilityAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentEducationOrganizationResponsibilityAssociation">
        <xs:sequence>
          <xs:element name="ADMCode" type="EXTENSION-ADMCodeDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Student is enrolled and attending this reported school as a Resident Enrollment,Transfers Out, Cash Transfers, State Obligations, Placements In, or Dual Enrollment.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-ADMCodeDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstructionalDays" type="EXTENSION-InstructionalDays" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The number of instructional days for the student at the education organization for a given school year. Allowable values are 1 - 180.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="InstructionalMinutes" type="EXTENSION-InstructionalMinutes" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The number of instructional days for the student at the education organization during the course of one full day. Allowable values are 1 - 400.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AdditionalEdOrgResponsibility" type="EXTENSION-AdditionalEdOrgResponsibility" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Additional education organization responsibility designation for the student.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentSpecialEducationProgramAssociationExtension">
    <xs:annotation>
      <xs:documentation></xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Association</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="StudentSpecialEducationProgramAssociation">
        <xs:sequence>
          <xs:element name="CircumstancesRelevantToTimeline" type="EXTENSION-CircumstancesRelevantToTimelineDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The circumstance relevant to the evaluation timeline.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-CircumstancesRelevantToTimelineDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="TimelineCompliance" type="EXTENSION-TimelineComplianceDescriptorReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Reason the special education deadline was missed or services did not begin.</xs:documentation>
              <xs:appinfo>
                <ann:Descriptor>EXTENSION-TimelineComplianceDescriptor</ann:Descriptor>
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="ParentalConsentDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>The date used to consider the evaluation timeline? Allowable formats are MMDDYYYY and MM/DD/YYYY. Date must be instructional day in your school calendar. If referral occurred in summer, parent constent / referal date should be first day of current school year.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FirstStepsTransitionDate" type="xs:date" minOccurs="0">
            <xs:annotation>
              <xs:documentation>On what date did special education services begin for the student transitioning from first steps? Allowable formats are MMDDYYYY and MM/DD/YYYY. Report only if student is transitioning from First Steps.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AssessmentAccommodationIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an AssessmentAccommodation.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AssessmentReference" type="AssessmentReferenceType">
        <xs:annotation>
          <xs:documentation>The assessment for which the accommodations are available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcademicSubject" type="AcademicSubjectDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>This descriptor holds the description of the content or subject area (e.g., arts, mathematics, reading, stenography, or a foreign language).</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>AcademicSubjectDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Accommodation" type="AccommodationDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>This descriptor defines variations used in how an assessment is presented or taken.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>AccommodationDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-AssessmentAccommodationReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an AssessmentAccommodation. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="AssessmentAccommodationIdentity" type="EXTENSION-AssessmentAccommodationIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an AssessmentAccommodation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationOtherPersonnelIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of an EducationOrganizationOtherPersonnel.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="LocalEducationAgencyReference" type="LocalEducationAgencyReferenceType">
        <xs:annotation>
          <xs:documentation>Reference to the LEA that employees the personnel.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherPersonnelCategory" type="EXTENSION-OtherPersonnelCategoryDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>Category for noncertified and other personnel.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-OtherPersonnelCategoryDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherPersonnelTitle" type="EXTENSION-OtherPersonnelTitleDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>Position title for noncertified and other personnel.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>EXTENSION-OtherPersonnelTitleDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-EducationOrganizationOtherPersonnelReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for an EducationOrganizationOtherPersonnel. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="EducationOrganizationOtherPersonnelIdentity" type="EXTENSION-EducationOrganizationOtherPersonnelIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of an EducationOrganizationOtherPersonnel.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentAlternativeEducationProgramAssociationIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StudentAlternativeEducationProgramAssociation.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StudentReference" type="StudentReferenceType">
        <xs:annotation>
          <xs:documentation>The student associated with the program.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProgramReference" type="ProgramReferenceType">
        <xs:annotation>
          <xs:documentation>The program associated with the student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The earliest date the student is involved with the program. Typically, this is the date the student becomes eligible for the program.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>The education organization where the student is participating in or receiving the program services.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentAlternativeEducationProgramAssociationReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StudentAlternativeEducationProgramAssociation. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentAlternativeEducationProgramAssociationIdentity" type="EXTENSION-StudentAlternativeEducationProgramAssociationIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StudentAlternativeEducationProgramAssociation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentCurricularMaterialProgramAssociationIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StudentCurricularMaterialProgramAssociation.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StudentReference" type="StudentReferenceType">
        <xs:annotation>
          <xs:documentation>The student associated with the program.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProgramReference" type="ProgramReferenceType">
        <xs:annotation>
          <xs:documentation>The program associated with the student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BeginDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>The earliest date the student is involved with the program. Typically, this is the date the student becomes eligible for the program.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>The education organization where the student is participating in or receiving the program services.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentCurricularMaterialProgramAssociationReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StudentCurricularMaterialProgramAssociation. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentCurricularMaterialProgramAssociationIdentity" type="EXTENSION-StudentCurricularMaterialProgramAssociationIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StudentCurricularMaterialProgramAssociation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAssessmentAccommodationIdentityType">
    <xs:annotation>
      <xs:documentation>Identity of a StudentEducationOrganizationAssessmentAccommodation.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Identity</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="StudentReference" type="StudentReferenceType">
        <xs:annotation>
          <xs:documentation>A unique alphanumeric code assigned to a student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EducationOrganizationReference" type="EducationOrganizationReferenceType">
        <xs:annotation>
          <xs:documentation>The identifier assigned to an education organization.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AssessmentReference" type="AssessmentReferenceType">
        <xs:annotation>
          <xs:documentation>The assessment for which the accommodations are available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcademicSubject" type="AcademicSubjectDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>This descriptor holds the description of the content or subject area (e.g., arts, mathematics, reading, stenography, or a foreign language).</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>AcademicSubjectDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element name="Accommodation" type="AccommodationDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>This descriptor defines variations used in how an assessment is presented or taken.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>AccommodationDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-StudentEducationOrganizationAssessmentAccommodationReferenceType">
    <xs:annotation>
      <xs:documentation>Provides alternative references for a StudentEducationOrganizationAssessmentAccommodation. Use XML IDREF to reference a record that is included in the interchange. Use the identity type to look up a record that was loaded previously.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ReferenceType">
        <xs:sequence>
          <xs:element name="StudentEducationOrganizationAssessmentAccommodationIdentity" type="EXTENSION-StudentEducationOrganizationAssessmentAccommodationIdentityType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>Identity of a StudentEducationOrganizationAssessmentAccommodation.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Extended Descriptor Reference Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-AccreditationDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>School accreditation (e.g. Accreditted, Not State Accreditted, Recognized Program).</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ADMCodeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Student is enrolled and attending this reported school as a Resident Enrollment,Transfers Out, Cash Transfers, State Obligations, Placements In, or Dual Enrollment.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-AlternativeEducationEligibilityReasonDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The primary reason for eligibiliy in the alternative education program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ArrestReasonDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The arrest reason codes for a discipline action.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-CircumstancesRelevantToTimelineDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The circumstance relevant to the evaluation timeline.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-CriminalGangRelatedEventDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The criminal gang related participation of a student in a discipline incident.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-DisciplineActionServiceDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The services provided for the student during a discipline action.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ELLInstrumentUsedDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The instrument used to measure the English proficiency level.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-OtherPersonnelCategoryDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Category for noncertified and other personnel.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-OtherPersonnelTitleDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Position title for noncertified and other personnel.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ProgramMeetingTimeDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The time of day the student attends the program.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-StudentArrestDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>The arrest type for a discipline action.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-TimelineComplianceDescriptorReferenceType">
    <xs:annotation>
      <xs:documentation>Reason the special education deadline was missed or services did not begin.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Extended Descriptor Reference</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="DescriptorReferenceType" />
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Common Types =====</xs:documentation>
  </xs:annotation>
  <xs:complexType name="EXTENSION-AdditionalEdOrgResponsibility">
    <xs:annotation>
      <xs:documentation>Additional education organization responsibility designations for the student.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Common</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SchoolCorpId" type="xs:int">
        <xs:annotation>
          <xs:documentation>The state identifier for the school corporation with the assigned responsibility to the student.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SchoolCorpResponsibility" type="ResponsibilityDescriptorReferenceType">
        <xs:annotation>
          <xs:documentation>An indication of the education organization's responsibility for a student.</xs:documentation>
          <xs:appinfo>
            <ann:Descriptor>ResponsibilityDescriptor</ann:Descriptor>
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-Contract">
    <xs:annotation>
      <xs:documentation>Contract information for the staff member with the education organization (e.g. Contract Days, Contract Salary).</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Common</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ContractDays" type="EXTENSION-ContractDays">
        <xs:annotation>
          <xs:documentation>Accurate number of days employed in this school corporation during the period of July 1 to June 30.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ContractSalary" type="EXTENSION-ContractSalary">
        <xs:annotation>
          <xs:documentation>Full-year, base salary during July 1 to June 30 in whole dollar amounts. Report full year base salary and not the prorated amount the teacher will receive if not employed the full year.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SupplementalSalary" type="EXTENSION-SupplementalSalary">
        <xs:annotation>
          <xs:documentation>The total supplemental salary for additional work, such as extended contracts, extracurricular, etc.? Earnings are to be July 1 to June 30. Allowable format is full dollars. Supplemental service teacher contracts (Summer School, Adult Education, and GED) are to be included.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PercentTitleISalary" type="EXTENSION-PercentTitleISalary">
        <xs:annotation>
          <xs:documentation>The total percent of the employee's salary that is paid by Title I. Base salary only. Allowable format is whole numbers only.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTENSION-MembershipDetails">
    <xs:annotation>
      <xs:documentation>Collection of information about student membership within an education organization.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Common</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="InstructionalDays" type="EXTENSION-InstructionalDays" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The number of instructional days for the student at the education organization for a given school year. Allowable values are 1 - 180.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InstructionalMinutes" type="EXTENSION-InstructionalMinutes" minOccurs="0">
        <xs:annotation>
          <xs:documentation>The number of instructional days for the student at the education organization during the course of one full day. Allowable values are 1 - 400.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MembershipCategory" type="EXTENSION-MembershipCategory" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Type of student membership being recorded (e.g. Dual Enrollment, Membership for Adults).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:annotation>
    <xs:documentation>===== Enumerations and Enumerated Collections =====</xs:documentation>
  </xs:annotation>
  <xs:annotation>
    <xs:documentation>===== String Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-MembershipCategory">
    <xs:annotation>
      <xs:documentation>Type of student membership being recorded (e.g. Dual Enrollment, Membership for Adults).</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="50" />
    </xs:restriction>
  </xs:simpleType>
  <xs:annotation>
    <xs:documentation>===== Numeric Simple Types =====</xs:documentation>
  </xs:annotation>
  <xs:simpleType name="EXTENSION-ContractDays">
    <xs:annotation>
      <xs:documentation>Accurate number of days employed in this school corporation during the period of July 1 to June 30.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1" />
      <xs:maxInclusive value="365" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-ContractSalary">
    <xs:annotation>
      <xs:documentation>Full-year, base salary during July 1 to June 30 in whole dollar amounts. Report full year base salary and not the prorated amount the teacher will receive if not employed the full year.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int" />
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-EventMinutes">
    <xs:annotation>
      <xs:documentation>The amount of time for the event in minutes as recognized by the school.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="1440" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-InstructionalDays">
    <xs:annotation>
      <xs:documentation>The number of instructional days for the student at the education organization for a given school year. Allowable values are 1 - 180.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="180" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-InstructionalMinutes">
    <xs:annotation>
      <xs:documentation>The number of instructional days for the student at the education organization during the course of one full day. Allowable values are 1 - 400.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="400" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-NonInstructionalMinutes">
    <xs:annotation>
      <xs:documentation>Total noninstructional minutes (e.g. Lunch, Recess) in a normal instructional school day.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="400" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-OtherPersonnelCount">
    <xs:annotation>
      <xs:documentation>Total number of noncertified and other personnel employed by the school corporation by position title.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="10000" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-PercentTitleISalary">
    <xs:annotation>
      <xs:documentation>The total percent of the employee's salary that is paid by Title I. Base salary only. Allowable format is whole numbers only.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-SupplementalSalary">
    <xs:annotation>
      <xs:documentation>The total supplemental salary for additional work, such as extended contracts, extracurricular, etc.? Earnings are to be July 1 to June 30. Allowable format is full dollars. Supplemental service teacher contracts (Summer School, Adult Education, and GED) are to be included.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="100" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="EXTENSION-TotalWaiverDays">
    <xs:annotation>
      <xs:documentation>The total number of days waived by the Department of Education for a School.</xs:documentation>
      <xs:appinfo>
        <ann:TypeGroup>Simple</ann:TypeGroup>
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="0" />
      <xs:maxInclusive value="365" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
